body {
    background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=cold-vehicles-water-531880.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h1{
    font-size: 5rem;
    font-weight: bolder;
    font-family: "Verdana Pro"
}
textarea{
    resize: none;
}
button{
    background-color: #2658af;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flow;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;

}
.site{
    text-align: center;
}
.movies{
    background: rgba(145, 164, 180, 0.47);
}
.movies2{
   opacity: 1;

}
.flex-grid {
    display: flex;
}
.col {
    flex: 3;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;

}
.grid-item {
    font-size: 30px;
    text-align: center;
}


